:root {
    /* Colors */
    --color-primary: #add8e6;
    --color-secondary: #799cbb;
    --color-text: #ffffff;
    --color-dark: #00008b;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: 'Roboto';
    

}